DATABASE_URL=postgresql://postgres.lspbbdcqwhzebnwcffen:<db-password>@aws-0-ap-south-1.pooler.supabase.com:5432/postgres

NEXT_PUBLIC_SUPABASE_URL=https://lspbbdcqwhzebnwcffen.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzcGJiZGNxd2h6ZWJud2NmZmVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0NTI3OTAsImV4cCI6MjEwNDAyODc5MH0.ZeGb91WpdT8HjtbAojDch7pSXxsqLpLSmbmRIJ2Z5RA
